body{
font-family:Arial;
width:450px;
margin:40px auto;
}

label{
display:block;
margin-top:10px;
}

input,select,textarea{
width:100%;
padding:6px;
margin-top:3px;
}

textarea{
height:70px;
}

button{
margin-top:12px;
padding:8px;
cursor:pointer;
}

.error{
color:red;
font-size:13px;
display:block;
}

#noteCounter{
font-size:12px;
text-align:right;
}

.total{
margin-top:10px;
font-weight:bold;
}

.confirmBox{
display:none;
margin-top:20px;
padding:10px;
border:1px solid #ccc;
background:#f5f5f5;
}

#successMessage{
margin-top:20px;
color:green;
font-size:18px;
}